#main {
    text-align: center;
}

#reserve_pane {
    text-align: center;
    width: 1000px;
}

#reserve_title {
    text-align: center;
}

.door {
    text-align: center;
    border-width: 2px;
    border-style: ridge;
    width: 100px;
    /* margin: 2% 40%; */
}